<launch>
  <arg name="model" default="waffle_pi" doc="TurtleBot3 model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="1.5" doc="Initial X position"/>
  <arg name="y_pos" default="1.0" doc="Initial Y position"/>
  <arg name="z_pos" default="0.0" doc="Initial Z position"/>
  <arg name="open_rviz" default="true" doc="Open RViz visualization"/>
  <arg name="start_navigation" default="false" doc="Start navigation automatically"/>
  <arg name="gazebo_gui" default="true" doc="Launch Gazebo GUI (true/false)"/>
  
  args="-d$(find project)/rviz/sim_initial.rviz"

  <include file="$(find project)/launch/turtlebot3_world.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>  
  </include>

  <include file="$(find project)/launch/my_turtlebot3_slam.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="open_rviz" value="$(arg open_rviz)"/>
  </include>

  <group if="$(arg start_navigation)">
    <include file="$(find project)/launch/my_move_base.launch">
      <arg name="model" value="$(arg model)"/>
    </include>
  </group>
</launch>
